[Unit]
Description=Gooroom Security Logant

[Service]
ExecStart=/usr/bin/python3 /usr/lib/gooroom-security-utils/gooroom-security-logant.py
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
